@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital@0;1&family=Inter:wght@500&family=Itim&family=Poppins:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #163020;
  justify-content: space-between;
  padding-inline: 30px;
  position: fixed;
  width: 95.9vw;
  z-index: 99;
}

nav img {
  height: 40%;
  width: 40%;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #ecf4d6;
  box-shadow: 0 40px 40px #ecf4d6;
}

.home1 {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.home1 h1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
}

.home1 p {
  font-size: 20px;
}

.home1 button {
  border: solid black;
  padding: 5px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  color: #2d9596;
  font-weight: bold;
  cursor: pointer;
}

.home1 button a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.home1 button:hover {
  background-color: #2d9596;
  color: #ffffff;
  border: none;
}

.home2 {
  border: none;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #ffffff;
  width: 351px;
  height: 440px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 20px;
}

.login img {
  width: 70px;
  height: 72px;
}

.login h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.login button {
  border: none;
  padding: 5px;
  width: 259px;
  height: 58px;
  border-radius: 25px;
  cursor: pointer;
  background: rgba(45, 149, 150, 0.58);
  font-family: "Inria Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.login p {
  font-size: 13px;
}

.from {
  justify-content: center;
  align-items: center;
  display: flex;
}

.title1 h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: 70px;
  font-family: "Itim", cursive;
}

/* FITUR 1*/

.feture {
  height: 81vh;
  display: flex;
}

.tlogin {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 95%;
}

.tlogin img {
  margin-top: 60px;
  height: 80%;
  width: 850px;
}

.keterangan1 {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  width: 95%;
}

.keterangan1 h3 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
.keterangan1 p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.logo1 {
  border: none;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.logo1 img {
  width: 161px;
  height: 259px;
  margin-top: 110%;
  margin-left: 20%;
}

/* FITUR 2*/

.feture2 {
  height: 81vh;
  display: flex;
  margin-top: 100px;
}

.tlogin2 {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 95%;
}

.tlogin2 img {
  margin-top: 60px;
  height: 80%;
  width: 850px;
}

.keterangan2 {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  width: 95%;
}

.keterangan2 h3 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
.keterangan2 p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.logo2 {
  border: none;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.logo2 img {
  width: 161px;
  height: 259px;
  margin-top: 110%;
}

/* FITUR 3*/

.feture3 {
  height: 81vh;
  display: flex;
  margin-top: 100px;
}

.tlogin3 {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 90%;
}

.tlogin3 img {
  margin-top: 60px;
  height: 100%;
  width: 650px;
}

.keterangan3 {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  width: 95%;
}

.keterangan3 h3 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
.keterangan3 p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.logo3 {
  border: none;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.logo3 img {
  width: 255px;
  height: 259px;
  margin-top: 110%;
  margin-left: 15%;
}

/*OUR TEAMS*/

.title2 h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: 70px;
  font-family: "Itim", cursive;
}

.title2 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.profilemember {
  height: 100px;
  display: flex;
  border: solid;
}
.profil1 {
  margin-top: 30px;
  height: 80px;
  display: flex;
}

/* SANI ALIM */
.sani {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.sani:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}

.sani p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.sanipath1 {
  display: flex;
  width: 88%;
}
.sanipath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.sanipath1 img {
  margin-right: 15px;
}

/* SANI PATH2 */
.sanipath2 {
  display: flex;
  width: 90%;
}
.sanipath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.sanipath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.sanipath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* SANI PATH3 */
.sanipath3 {
  display: flex;
  width: 90%;
}
.sanipath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.sanipath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.sanipath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* FRANSISCO ROJER */

.fransisco {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.fransisco:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}
.fransisco p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.franspath1 {
  display: flex;
  width: 88%;
}
.franspath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.franspath1 img {
  margin-right: 15px;
}

/* FRANS PATH2 */
.franspath2 {
  display: flex;
  width: 90%;
}
.franspath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.franspath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.franspath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* FRANS PATH3 */
.franspath3 {
  display: flex;
  width: 90%;
}
.franspath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.franspath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.franspath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* ROJER */
.Rojer {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.Rojer:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}

.Rojer p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.rojerpath1 {
  display: flex;
  width: 88%;
}
.rojerpath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.rojerpath1 img {
  margin-right: 15px;
}

/* ROJER PATH2 */
.rojerpath2 {
  display: flex;
  width: 90%;
}
.rojerpath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.rojerpath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.rojerpath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* ROJER PATH3 */
.rojerpath3 {
  display: flex;
  width: 90%;
}
.rojerpath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.rojerpath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.rojerpath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* PROFILE LINE 2 */
.profil2 {
  margin-top: 40%;
  height: 100px;
  display: flex;
}

/* TYA */
.tya {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.tya:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}

.tya p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.tyapath1 {
  display: flex;
  width: 88%;
}
.tyapath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.tyapath1 img {
  margin-right: 15px;
}

/* TYA PATH2 */
.tyapath2 {
  display: flex;
  width: 90%;
}
.tyapath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.tyapath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.tyapath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* TYA PATH3 */
.tyapath3 {
  display: flex;
  width: 90%;
}
.tyapath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.tyapath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.tyapath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* MA'RUF */
.maruf {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.maruf:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}

.maruf p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.marufpath1 {
  display: flex;
  width: 88%;
}
.marufpath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.marufpath1 img {
  margin-right: 15px;
}

/* MA'RUF PATH2 */
.marufpath2 {
  display: flex;
  width: 90%;
}
.marufpath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.marufpath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.marufpath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* MA'RUF PATH3 */
.marufpath3 {
  display: flex;
  width: 90%;
}
.marufpath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.marufpath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.marufpath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* AMI */
.ami {
  background-color: #ffffff;
  width: 351px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 4px #ecf4d6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 5px;
  transition: box-shadow 0.3s;
}

.ami:hover {
  box-shadow: 0px 8px 16px 0px #265073;
}

.ami p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 15px;
}

.amipath1 {
  display: flex;
  width: 88%;
}
.amipath1 p {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
}
.amipath1 img {
  margin-right: 15px;
}

/* AMI PATH2 */
.amipath2 {
  display: flex;
  width: 90%;
}
.amipath2 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.amipath2 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.amipath2 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/* MA'RUF PATH3 */
.amipath3 {
  display: flex;
  width: 90%;
}
.amipath3 p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.amipath3 p a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.amipath3 img {
  margin-right: 15px;
  width: 36px;
  height: 35px;
}

/*Partner*/

.part h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35%;
  font-size: 70px;
  font-family: "Itim", cursive;
}

.part p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagepartners a img {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 1%;
}

footer {
  margin-top: 50px;
  height: 60vh;
  background-color: #163020;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 70px 70px 0px 0px;
  margin-top: 500px;
}

.infor {
  color: #ffffff;
  font-size: 30px;
  font-family: "Inter";
  font-style: italic;
  padding: 15px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact a {
  margin-top: 50px;
  margin-right: 30%;
  margin-left: 30%;
}

.contact a img {
  width: 140px;
  height: 130px;
}

.copy {
  margin-top: 185px;
  color: wheat;
}

/* Animasi saat hover pada tombol */
.home1 button {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.home1 button:hover {
  background-color: #2d9596;
  color: #ffffff;
  border-color: transparent;
}

/* Animasi untuk efek bayangan */
.box {
  transition: box-shadow 0.3s;
}

.box:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Animasi transformasi saat hover */
.logo1 img,
.logo2 img,
.logo3 img {
  transition: transform 0.3s ease-in-out;
}

.logo1 img:hover,
.logo2 img:hover,
.logo3 img:hover {
  transform: scale(1.1);
}

/* Tambahkan kelas animasi */
.animate {
  /* Atur properti untuk animasi bergerak di sini */
  animation-name: move;
  animation-duration: 1s;
  /* Tambahkan properti animasi lain jika perlu */
}

/* Atur animasi bergerak di sini */
@keyframes move {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
